.back-link {
    position: absolute !important;
    left: 25px !important;
    top: 25px !important;
    z-index: 500 !important;
    color: white !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    text-decoration: none;
}

.back-button {
    padding: 8px 20px !important;
    border-radius: 20px !important;
    border: 1px solid white !important;
    text-decoration: none;
}