.back-button {
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 500;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid white;
}