@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    padding: 0;
    margin: 0;
    background-color: #130A58;
    background-size: 102%;
    background-position: center;
    background-image: url('assets/graffiti.jpg');
    height: 100vh;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open-Sans', arial, sans-serif;
    line-height: 2.5;
    margin: 45px !important;
    padding-top: 15px;
    text-align: center;
}

.content {
    padding: 0 25px 25px 25px;
}

.banner {
    align-items: center;
    background-image: url('assets/2020-banner_2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 240px;
    justify-content: center;
    width: 100%;
}

.banner-logo {
    width: 350px;
}

.pod-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    z-index: 1;
}

.pod {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pod__industry {
    color: #130A59;
    font-family: 'Open-Sans', arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 40px;

}

.pod__link {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 0 rgba(0, 0, 0, .5);
    display: block;
    display: flex;
    flex-basis: calc(50% - 50px);
    flex-direction: column;
    height: 220px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 20px;
}